{% extends 'main/base.html' %}

    {% block content %}  
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Welcome to flower girl ❤️</h1>
                <br>
                {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <h3>hello {{ fname }}</h3>
    <p>you are logged in</p>
    {% endif %}
    <p class="text-5xl mx-5">this is  the home page</p>
                <ul>
                    <div class="p-10 m-4 bg-gray-50 hover:bg-red">
                        <li>
                            <a class=" text-red-500 hover:text-white " href="/auth">Get started</a>
                        </li>
    
                    </div>
                                        
                </ul>
			</section>
    {% endblock content %}
    